html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.company-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-side, .right-side {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-side h2, .right-side h2 {
    color: #333;
    margin-bottom: 10px;
}

.left-side p, .right-side p {
    line-height: 1.6;
    margin-bottom: 20px;
}
footer {
    background-color: #3b5d50;
    color: white;
    padding: 20px;
    text-align: center;

}

