@{
    ViewData["Title"] = "About Us";
}

<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6">
				<h2 class="section-title">Our Services</h2>
				<p>At KhumaloCraft Emporium, we pride ourselves on providing an exceptional shopping experience with premium
					support throughout the entire process for our customers. From browsing our curated collection of artisanal crafts to placing your order and receiving your treasures, our dedicated team is committed to ensuring that your experience is seamless and enjoyable. Whether you have questions about a product, need assistance with your order, or simply want to say hello, our friendly and knowledgeable support team is here to help every step of the way. Shop with confidence knowing that at KhumaloCraft Emporium, you'll receive nothing less than the highest level of service and support.</p>
				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                			<a class="product-item" href="cart.html">
								<img src="/images/Image1.jpg" class="img-fluid product-thumbnail">
                    			<h3 class="product-title">Ceramic mug</h3>
                    			<strong class="product-price">R150.00</strong>							
						</div>
							
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
							<p>Our intuitive platform makes finding and purchasing your favorite artisanal treasures a delight.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
							<p>Whether you have a question about an order, need assistance with a product, or simply want to say hello, our dedicated support team is here to help around the clock.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/Images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hassle Free Returns</h3>
							<p>If for any reason you're not completely satisfied with your purchase, simply initiate a return through our user-friendly platform. Our streamlined process ensures that returning your item is quick and easy, with no questions asked.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="/Images/Image4.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<div class="untree_co-section">
	<div class="container">

		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center">
				<h2 class="section-title">Our Team</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
				<img src="/Images/Profile2.jpg" class="img-fluid mb-5">
				<h3 clas><a href="#"><span class="">Keabetswe</span> Mokwena</a></h3>
				<span class="d-block position mb-4">Software Developer,Tech Lead,Scrum Master</span>
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
				<img src="/Images/Profile1.jpg" class="img-fluid mb-5">

				<h3 clas><a href="#"><span class="">Omphile Gaven</span> Walker</a></h3>
				<span class="d-block position mb-4">Software Engineer, Solution Architect</span>
			</div>
			
		</div>
	</div>
</div>